@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorPrimary:#21EB00;
    --colorsecundary: #191A18;
}

body {
    background-color: black;
    color: var(--colorPrimary);
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
}


.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-principal h1 {
    font-size: 3em;
    margin: 20px;
}

.container-principal p{
    color: var(--colorsecundary);
    margin: 10px;
    font-size: 1.5em;
    font-weight: 500;
}

.container-principal input{
    width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    font-size:1.5em;
    text-align: center;
}

.container-principal input:focus{
    outline: none;
}


.container-principal #botao-iniciar{
    background-color: var(--colorPrimary);
    color: #000;
    font-weight: 700;
    font-size: 1.5em;
}

.container-principal #botao-iniciar:hover {
    cursor: pointer;
    background-color: #288b19;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 3em;
    align-items: center;
}

header button{
    background-color: var(--colorPrimary);
    padding: 8px 20px;
    border-radius:20px;
    font-size:0.6em;
    font-weight: 700;
    border: none;
    font-family: 'Roboto', sans-serif;
}

header button:hover {
    cursor: pointer;
}


.container-main h1{
    color: var(--colorsecundary);
    margin:40px;
    font-size: 5em;
    text-align: center;
}

.data-time {
    display: flex;
    justify-content: center;
}

.data-time div {
    margin: 0 30px;
}

.data-time h3 {
    font-size: 6em;
    font-weight: 500;
    color: #ffffff;
}

.data-time p {
    font-size: 1.7em;
    font-weight: 300;
    text-align: center;
}

@media (max-width:695px) {
    header {
        font-size: 2em;
    }
    .data-time h3 {
        font-size: 4em;
    }
    
    .data-time p {
        font-size: 1.1em;
    }
    .data-time div {
        margin: 0 15px;
    }
}


@media (max-width:450px) {
    header {
        font-size: 1.3em;
    }
    .data-time h3 {
        font-size: 2.5em;
    }
    
    .data-time p {
        font-size: 1em;
    }
    .data-time div {
        margin: 0 10px;
    }
}

@media (max-width:364px) {
    .data-time h3 {
        font-size: 2em;
    }
    
    .data-time p {
        font-size: 0.7em;
    }
    .data-time div {
        margin: 0 10px;
    }
}
